@font-face {
  font-family: "gonta";
  src: url(./FZgontakana.woff) 
}
@font-face {
  font-family: "mushin";
  src: url(./mushin.woff);
}

@font-face {
  font-family: "azuki";
  src: url(./azukiLP.woff);
}

.wrap {
  margin: 0 auto;
  width: 1000px;
}

.title {
  width: 100%;
  text-align: center;
}

.sentai {
  font-family: "mushin";
  color: red;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
 }

.lab13 { 
  font-family: "gonta";
  color: red; 
  font-size: 52px;
  margin: 0;
}

#rangers {
  padding-top: 10px; 
}

#rangers :hover {
  cursor: pointer;
}

.reset {
  font-family: 'gonta';
  color:blue;
}

.reset:hover{
  color: red;
}

ul {
  list-style: none;
}

.words {
  margin: 0;
  height:auto;
  column-count: 3;
}

li {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 24px;
}

p {
  font-family: 'M PLUS 2', sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.sentence {
  display: flex;
}

#dakara, #demo, #shikamo, #dakara, #tashika, #tsumari, #yappari, #tomoare {
  background-image: url(../img/wood-board_w200h150.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  list-style: none;
  margin-right: 0;
  font-size: 18px;
  border-style: hidden;
}

li:hover {
  font-size: 22px;
}

.answer {
  margin-left: 20px;
}

#phrase {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 28px;
}

#judgment {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#character {
  width: fit-content;
}

#comment {
  width: fit-content;
}

#comment p {
  font-family: "azuki";
}
